.profile-img {
  position: relative;
  z-index: 0;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparentize(#000, .6);
    z-index: 0;
  }

  > div {
    position: relative;
    z-index: 1;
  }

  .rounded-circle {
    @media (min-width: 576px) {
      width: 100px !important;
      height: 100px !important;
    }

    @media (max-width: 575px) {
      width: 50px !important;
      height: 50px !important;
    }
  }

  .btn {
    //box-shadow: black 0px 0px 10px;
  }

  .profile-text-shadow {
    span, p, stong, small {
      //text-shadow: black 0px 0px 10px;
    }

    @media (min-width: 576px) {
      strong {
        font-size: 30px;
        line-height: 30px;
      }

      p {
        font-size: 14px;
        font-weight: 500;
      }

      small {
        font-weight: 500;
      }
    }
  }
}

.grid {
  position: relative;

  .grid-item {
    @media (min-width: 992px) {
      width: 32%;
    }

    @media (max-width: 991px) {
      width: 48%;
    }

    @media (max-width: 575px) {
      width: 100%;
    }
  }

  .gutter-sizer {
    @media (min-width: 992px) {
      width: 2%;
    }

    @media (max-width: 991px) {
      width: 4%;
    }

    @media (max-width: 575px) {
      width: 30px;
    }
  }
}

table td.sorter {
  background-color: $brand-primary;
  color: #fff;
  width: 40px;
  cursor: ns-resize;
}

$table-cell-padding-sm: .3rem .5rem !default;

table.table-sm {
  th,
  td {
    padding: $table-cell-padding-sm;
  }
}

.user-badge-contact {
  line-height: 17px;
  font-size: 12px;
}

.data-table-custom {
  .container-fluid {
    padding: 0 !important;

    .col-sm-12 {
      max-width: 100%;
      overflow-x: auto;
      display: block !important;
    }

    .table {
      min-width: 100%;

      td, th {
        white-space: nowrap;
      }
    }
  }
}

.app-body {
  > * {
    min-width: 0;
  }
}

.left-sidebar-fixed .left-sidebar {
  height: calc(100vh - 60px);
}

.row {
  > * {
    min-width: 0 !important;
  }
}

.svgdrawdiv {
  position: relative;
  z-index: 0;

  .svg_box {
    position: relative;
    z-index: 100;

    a {
      cursor: pointer;
    }

    &:hover .svg_box_actions,
    .svg_box_actions:hover {
      div {
        opacity: 1;
      }
    }

    .svg_box_actions {
      display: block;

      div {
        position: relative;
        z-index: 100;
        padding: 5px 10px;
        background-color: transparentize($brand-primary, .1);
        height: calc(100% - 40px);
        margin-top: 20px;
        margin-bottom: 20px;
        opacity: 0;
      }
    }
  }
}

.draw-hover-actions {
  &:hover,
  &:focus {
    color: $brand-primary;
  }
}

.booking-calendar-wrap {
  .booking_ol {
    li {
      display: inline-block;
    }
  }

  @media (min-width: 992px) {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: calc(100vh - 80px);
    overflow: hidden;

    .booking-filter-card {
      flex: 0 0 auto;
    }

    .booking-calendar-card {
      flex: 1 1 auto;
      overflow-y: auto;
    }
  }
}

.progress {
  .progress-bar {
    white-space: nowrap;
    color: #000;
    //overflow: hidden;
    //text-overflow: ellipsis;
  }
}

.input-group {
  .input-group-addon {
    font-size: 12px;
  }
}

.alert-danger {
  background-color: #ed9696;
}

.card-columns-4 {
  @media (min-width: 992px) {
    -webkit-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }

  @media (min-width: 576px) and (max-width: 991px) {
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }

  .card {
    margin-bottom: .75rem;

    @media (min-width: 576px) {
      display: inline-block;
      width: 100%;
    }
  }
}

.select2-container--default .select2-search--inline .select2-search__field {
  width: 100% !important;
}

.modal {
  .select2-container {
    width: 100% !important;
    padding: 0;
  }
}

.partials-menu {
  .booking-search {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px 15px;
    overflow-y: auto;

    @media (max-width: 992px) {
      padding-top: 40px;
    }

    display: flex;
    flex-direction: column;

    > * {
      width: 100%;
      flex-shrink: 0;
    }

    .booking-search-footer {
      margin-top: auto;
    }
  }
}

.booking-strip {
  @media (max-width: 576px) {
    li {
      &:first-child {
        display: block;
      }
    }
  }

  @media (max-width: 359px) {
    li {
      &:nth-child(2) {
        display: block;
      }
    }
  }
}

.app-footer {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 30px;

  @media (max-width: 767px) {
    text-align: center;

    .list-inline-item {
      line-height: 25px;

      &:first-child {
        display: block;
      }
    }

    .text-right {
      padding-top: 15px;
      text-align: center !important;
    }
  }
}

.navbar .navbar-brand {
  padding: .1rem 1rem !important;

  a {
    svg {
      left: 16px;
      transform: translate(0, -50%);
    }

    img {
      height: 55px;
      width: 220px;
      object-fit: contain;
      object-position: 0 50%;
      max-width: 100% !important;
    }
  }
}

.breadcrumb {
  .breadcrumb-item {
    .dropdown-menu {
      position: relative;

      > li {
        padding: 0;

        > a {
          width: 100%;
          display: block;
          padding: 4px 20px;
        }
      }
    }
  }
}

.dropdown-menu {
  .dropdown-item,
  .dropdown-submenu {
    > .dropdown-menu {
      position: absolute !important;
    }
  }

  .dropdown-menu {
    position: relative;

    li {
      padding: 0;
    }

    a {
      width: 100%;
      display: block;
      padding: 4px 20px;
    }
  }

  .dropdown-submenu {
    position: relative;

    li {
      padding: 0;
    }

    a {
      width: 100%;
      display: block;
      padding: 4px 20px;
    }
  }

  .dropdown-submenu.dropdown-item {
    padding: 0;
  }

  .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
  }

  .dropdown-submenu > a:after {
    display: block;
    content: " ";
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
  }

  .dropdown-submenu:hover > a:after {
    border-left-color: #fff;
  }

  .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }

  .down-submenu.pull-left {
    float: none;
  }

  .dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
  }

}

#booking_start {
  .time_block {
    /* Chrome, Safari, AND NOW ALSO the Edge Browser and Firefox */
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      overflow-y: auto !important;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    /* Chrome 29+ */
    @media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
      overflow-y: auto !important;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    div[class*='booking_content'] {
      text-align: center;
    }

    .badge {
      display: block !important;
      width: 100%;
      margin: 0 auto 1px !important;
      padding: 5px;
    }

    .btn-group {
      margin-bottom: 1px !important;
      width: 100%;
      display: flex;
      padding: 0 7px !important;

      > * {
        min-width: 0;
      }

      > .btn {
        flex: 1 0 auto;
      }
    }
  }
}

#draw_view {
  overflow: auto;
}

.toast {
  opacity: 1 !important;
}

.form-signin {
  .brand {
    width: 240px;
    max-width: 100%;
    margin: 0 auto 30px;

    img,
    svg {
      max-width: 100%;
    }
  }
}

.login-validation-wrap {
  padding-top: 30px;

  .form-signin {
    margin: 15% auto;
  }
}

.main-content {
  .login-validation-wrap {
    .form-signin {
      margin: 20px auto;

      .brand {
        display: none;
      }
    }
  }
}

.profile-badge {
  width: 50px;
  flex: 0 0 50px;
  align-self: flex-start;
}