$sidebar-width: 350px;
$partials-menu-width: $sidebar-width -  50px;

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i');

html {
  body {
    overflow-x: hidden;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.login-logo {
  width: 400px;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
}

.main-content {
  padding-bottom: 30px;

  .profile-tabs {
    background-color: transparent !important;
    border: 1px solid rgba(0, 0, 0, .125);
  }
}

.partials-menu {
  display: none;

  .admin-header {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -20px;
    padding-left: 15px !important;
    padding-top: 13px !important;
    padding-bottom: 13px !important;
    margin-bottom: 20px;

    > * {
      margin-bottom: 0;
    }
  }

  @media (max-width: 991px) {
    padding-top: 45px !important;
  }
}

.has-multi-menu {
  .login-block {
    opacity: 0;
  }
}

.left-sidebar {
  z-index: 100;
}

.app-header {
  @media (min-width: 992px) {
    padding-right: 20px !important;
  }
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  > * {
    min-width: 0;
    flex-shrink: 0;
    width: 100%;
  }

  > ul {
    li.submenu {
      > a {
        position: relative;
        display: flex;
        width: 100%;
        align-items: flex-start;
        line-height: 18px;
        padding: 10px 0 10px 15px;

        > i {
          flex: 0 0 26px;
        }

        &.dcjq-parent {
          &.active {
            .dcjq-icon {
              &:before {
                transform: translate(-50%, -50%) rotate(90deg);
              }
            }
          }
        }

        .dcjq-icon {
          position: absolute;
          width: 10px;
          height: 10px;
          right: 15px;
          top: 50%;
          transform: translateY(-50%);

          &:before {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }

  .quick-links {
    position: relative;
    padding: 15px 0;

    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 0 !important;
    }

    .config-link {
      position: absolute;
      right: 10px;
      padding: 5px;
      top: 50%;
      transform: translate(0, -50%);
      font-size: 9px;
      letter-spacing: 1px;
      color: #fff !important;
      opacity: .3;

      &:hover,
      &:focus {
        opacity: 1;
      }

      i {
        font-size: 9px;
        padding-right: 3px;
      }
    }
  }

  .login-block {
    transition: all .3s ease;
    background-color: transparentize($brand-primary, .2);
    width: 250px;

    .list-inline-item {
      padding-left: 0;

      a {
        padding-left: 0;
      }
    }
  }

  #nav-accordion {
    flex: 1 0 auto;
  }

  .submenu {
    > a {
      &.active {
        background-color: transparentize(#000, .7) !important;

        &.dcjq-parent {
          background-color: transparent !important;
        }
      }
    }

    .sub-menu {
      margin-top: -5px;
      li {
        a {
          position: relative;
          padding: 5px 0 5px 43px;

          &:before {
            position: absolute;
            content: '';
            width: 5px;
            height: 1px;
            background-color: #fff;

            left: 30px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .category-menu-title {
    display: none;
  }
}

@media (min-width: 992px) {
  .category-menu-title {
    display: none;
  }

  .sidebar-menu {
    .sub-menu,
    .submenu {
      > a {
        padding: 10px 0 10px 15px;

        .icon,
        .fa {
          font-size: 18px;
          display: inline-block;
          width: 26px;
          text-align: center;
        }
      }

      .sub {
        max-height: 200px;
      }
    }

    .nav-title {
      margin-top: 0;
      padding-top: 15px;
    }
  }

  .left-sidebar {
    overflow-x: hidden;
    transition: all 0.2s ease-in-out;
    width: 250px;

    .sidebar-menu {
      overflow-x: hidden;

      ul {
        width: 250px;

        li {
          a {
            white-space: nowrap;
          }
        }
      }
    }
  }

  body.left-sidebar-hidden {
    .sidebar-menu {
      .login-block {
        opacity: 0;
      }

      .submenu {
        .sub-menu {
          display: none;
        }
      }
    }

    &:not(.has-multi-menu) {
      .sidebar-menu {
        .nav-title {
          transition: all 0.2s ease-in-out;
          opacity: 0;

          .dcjq-icon {
            transition: all 0.2s ease-in-out;
            opacity: 0;
          }
        }

        .sub-menu,
        .submenu {
          > a {
            > span {
              transition: all 0.2s ease-in-out;
              opacity: 0;
            }
          }

          .sub {
            max-height: 0;
            overflow: hidden;
          }
        }
      }

      .left-sidebar {
        margin-left: 0;
        width: 50px;
      }
    }
  }

  body.opened-hover {
    &:not(.has-multi-menu) {
      .main-content,
      .app-footer {
        margin-left: 50px !important;
      }
    }
  }

  .left-sidebar-fixed.left-sidebar-hidden .main-content,
  .left-sidebar-fixed.left-sidebar-hidden .app-footer {
    margin-left: 50px;
  }

  .left-sidebar-fixed .main-content,
  .left-sidebar-fixed .app-footer {
    margin-left: 250px;
  }

  //custom pages
  body.has-multi-menu {
    .left-sidebar-toggler {
      visibility: hidden;
    }

    @media (min-width: 992px) {
      &.show-left-menu-btn {
        .left-sidebar-toggler {
          visibility: visible;
        }
      }
    }

    &.has-multi-menu-collapsed {
      &,
      &.left-sidebar-hidden {
        .left-sidebar {
          width: 100px;

          .category-menu-title {
            display: block;
            width: 200px;
            height: 30px;
            text-align: right;
            color: #000;
            z-index: 10;
            transform: translateX(-50%) rotate(-90deg);
            opacity: 1 !important;
            transition: visibility .1s linear .3s;

            position: fixed;
            left: 77px;
            top: 180px;
          }

          &.main-menu-hover,
          &.partials-menu-hover {
            .category-menu-title {
              visibility: hidden;
              transition: none;
            }
          }

          &.main-menu-hover {
            width: 250px;
          }

          &.partials-menu-hover {
            width: $sidebar-width;

            .partials-menu {
              width: $partials-menu-width;
              background-color: #fff;
              overflow-y: auto;

              > * {
                opacity: 1;
              }
            }
          }

          .partials-menu {
            background-color: #ffc107;
            transition: all .3s ease;
            overflow-y: hidden;

            > * {
              opacity: 0;
            }
          }
        }
      }
    }

    &,
    &.left-sidebar-hidden {
      .left-sidebar {
        margin-left: 0;
        width: $sidebar-width;

        .sidebar-menu {
          overflow-x: hidden;
          overflow-y: auto !important;
          transition: all 0.2s ease-in-out;
        }

        .sidebar-menu:not(:hover) {
          width: 50px;
          overflow: hidden !important;

          .nav-title {
            transition: all 0.2s ease-in-out;
            opacity: 0;

            .dcjq-icon {
              transition: all 0.2s ease-in-out;
              opacity: 0;
            }
          }

          .sub-menu,
          .submenu {
            > a {
              > span {
                transition: all 0.2s ease-in-out;
                opacity: 0;
              }
            }

            .sub {
              max-height: 0;
              overflow: hidden;
            }
          }

          .submenu {
            .sub-menu {
              transition: all 0.2s ease-in-out;
              display: none !important;
            }
          }
        }

        .sidebar-menu:hover {
          width: 250px;

          .login-block {
            opacity: 1;
          }
        }
      }
    }

    .partials-menu {
      display: block;
      position: absolute;
      left: 50px;
      top: 0;
      width: $partials-menu-width;
      height: 100%;
      padding: 20px 15px;
      overflow-y: auto;
    }

    .left-sidebar {
      margin-left: 0;
      width: $sidebar-width;

      .sidebar-menu {
        background-color: darken(#fff, 5%);
      }
    }

    .left-sidebar-hidden .left-sidebar {
      margin-left: 0;
    }

    &.left-sidebar-fixed .main-content,
    &.left-sidebar-fixed .app-footer {
      margin-left: $sidebar-width;
    }

    &.left-sidebar-fixed.has-multi-menu-collapsed {
      .main-content,
      .app-footer {
        margin-left: 100px;
      }
    }
  }
}

@media (max-width: 991px) {
  body.has-multi-menu {
    &.filters-menu-visible {
      .partials-menu {
        left: 0;

        .partial-menu-overlay {
          display: block;
        }
      }
    }

    .partials-menu {
      display: block;
      position: absolute;
      left: -250px;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 20px 15px;
      overflow-y: auto;
      background-color: #fff;
      z-index: 200;
      transition: all .25s ease;

      .toggle_partial {
        position: absolute;
        right: 5px;
        top: 5px;
        color: #000;
        font-size: 20px;
        text-decoration: none !important;

        @media(min-width: 992px) {
          display: none;
        }
      }

      @media(max-width: 991px) {
        .partial-menu-overlay {
          display: none;
          position: fixed;
          top: 60px;
          left: 250px;
          right: 0;
          bottom: 0;
          //background-color: red;
        }
      }
    }
  }
}