.navbar {
  @media(max-width: 991px) {
    justify-content: space-between;
  }

  .nav-item {
    min-width: 40px !important;
  }

  .navbar-brand {
    display: block !important;
    margin: 0 !important;
    position: relative;

    svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    a {
      display: block;
    }

    @media(min-width: 992px) {
      a {
        svg {
          width: 178px;
          height: 38px;
        }
      }
    }

    @media(max-width: 991px) {
      padding-left: 5px !important;
      padding-right: 5px !important;
      width: 160px !important;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      a {
        svg {
          width: 140px;
          height: 26px;
        }
      }
    }
  }
}

.header-search-field,
.mobile-search-wrap {
  position: relative;
  max-width: 100%;
  padding: 5px 0;
  z-index: 0;

  .select2-search {
    width: 100% !important;
    padding-right: 20px;
  }

  @media(min-width: 992px) {
    width: 440px;
  }

  @media(max-width: 991px) {
    width: 100%;
  }

  .search-toggle,
  .search-icon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 40px;
    height: 40px;

    i {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .search-icon {
    cursor: auto !important;
  }

  .select2-selection__choice {
    border-radius: 0 !important;
    border: 0 !important;
    background-color: transparent !important;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .select2-selection__choice__remove {
    display: none !important;
  }
}

.mobile-search-field {
  @media (min-width: 992px) {
    display: none !important;
  }
}

.header-search-field {
  @media(max-width: 991px) {
    display: none !important;
  }
}

.mobile-search-wrap {
  margin-top: 100px;
}

.search-container {
  background: linear-gradient(200deg, #2439C4, #00A4FB);
}

.app-header {
  .navbar-nav {
    .dropdown-menu-accout {
      @media(max-width: 768px) {
        position: fixed;
        right: 5px;
        top: 54px;
        max-height: calc(100vh - 100px);
        overflow-y: auto;
      }
    }
  }
}

.header-search-field {
  .select2 {
    .selection {
      .select2-search__field {
        margin-top: 0;
      }

      .select2-selection__choice {
        position: absolute;
        top: 0;
      }
    }
  }
}