
.select2-container {
  width: 100% !important;
}

.select2-container--default {
  .select2-selection__arrow {
    height: 100% !important;
  }

  .select2-selection--single .select2-selection__rendered {
    padding: 0 1rem;
    line-height: 40px !important;
  }

  .select2-results {
    .select2-results__options {
      @media (min-width: 576px) {
        max-height: 300px !important;
      }
    }
  }
}

.select2-results {
  .search-results {
    margin: 0;
  }

  .select2-results__option {
    padding: 5px;

    table {
      width: 100%;

      .image-wrap {
        width: 50px;
        padding-right: 10px;
        vertical-align: top;

        img {
          width: 40px;
          height: 40px;
        }
      }
    }

    li {
      margin: 0;
      padding: 0;
      border: 0;

      strong {
        line-height: 18px;
        display: block;
      }
    }
  }
}
