.tv-display {
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-top: 40px;

  h1 {
    text-align: center;
    margin-bottom: 40px;
  }

  > * {
    width: 100%;
    min-width: 0;
  }

  .tab-content {
    flex: 1 1 auto;
  }

  div.draw {
    overflow-y: auto;
    width: 100%;

    @media (min-width: 3000px) {
      .svgdrawdiv {
        zoom: 2;
      }
    }

    @media (min-width: 2000px) and (max-width: 2999px) {
      .svgdrawdiv {
        zoom: 1.5;
      }
    }
  }
}

.tv-tabs {
  padding-top: 20px;
  position: sticky;
  left: 0;
  bottom: 0;
  background: #f3f6f9;
  width: 100%;

  .nav-item {
    flex: 0 1 20%;
    display: flex;
    align-items: stretch;
    text-align: center;

    @media (min-width: 992px) and (max-width: 1200px) {
      flex: 0 1 25%;
    }

    @media (min-width: 576px) and (max-width: 991px) {
      flex: 0 1 33.3333%;
    }

    @media (max-width: 575px) {
      flex: 0 1 50%;
    }

    @media (max-width: 400px) {
      flex: 0 1 100%;
    }


    .nav-link {
      width: 100%;
      border-radius: 0;
      padding: 10px 1rem;
      background-color: rgba(0,0,0,0.1);
      border: 1px solid rgba(0,0,0,0.4);
      height: 100%;

      &.active {
        color: #fff;
        background-color: #f15a29;
        border-color: #f15a29;
      }
    }

  }
}