/*----------------------------------
form wizard style
----------------------------------*/

.form-wizard {
  position: relative;
  display: table;
  margin: 0 auto 30px;
  width: 100%;

  .steps {
    margin: 20px 0;
    overflow: hidden;
    text-align: center;
  }

  .steps ul {
    margin: 0;
    padding: 0;
    list-style: none;

    width: 100%;

    @media (min-width: 768px) {
      display: flex;
      text-align: center;
      justify-content: center;

      > * {
        min-width: 0;
      }
    }

    @media (max-width: 767px) {
      display: block;
      text-align: left;
    }
  }

  .steps ul li {
    padding: 0 15px;
    position: relative;
    transition: all 0.4s ease-in-out;
    flex: 1 0 auto;
    min-width: auto;
    min-height: 35px;

    @media (min-width: 768px) {
      max-width: 200px;
    }

    @media (max-width: 767px) {
      display: flex;
      width: 100%;
      padding-left: 50px;
      align-items: center;
      margin-bottom: 10px;
    }
  }

  .steps ul li.active {
    color: $brand-black-alt;
  }

  .steps ul li.active span {
    background: $brand-primary;
    color: #fff;
  }

  .steps ul li::after,
  .steps ul li::before {
    display: none !important;
  }

  .steps ul li span {
    display: block;
    width: 35px;
    height: 35px;
    text-align: center;
    background: $border-color;
    font-size: 18px;
    line-height: 35px;
    font-weight: 300;
    color: #000;
    position: relative;
    z-index: 1;
    transition: all 0.4s ease-in-out;
    border-radius: 2px;

    @media (min-width: 768px) {
      margin: 0 auto 15px;
    }

    @media (max-width: 767px) {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.form-container {
  clear: both;
  display: none;
  left: 100%;
  background: #fff;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 10px 70px 0 rgba(108, 158, 195, .25);
}

.form-container.active {
  display: block;
}

.form-title {
  margin-bottom: 30px;
  padding-bottom: 15px;
  position: relative;
  font-size: 18px;
}

// steps

.stepy-tab {
  text-align: center;
  margin: 40px 0;
}

.stepy-tab ul {
  display: inline-block;
  list-style: none;
}

.stepy-tab ul li {
  float: left;
}

.step legend {
  border: none;
}

.button-back {
  float: left;
}

.button-next, .finish {
  float: right;
}

.button-back, .button-next, .finish {
  cursor: pointer;
  text-decoration: none;
}

.step {
  clear: left;
}

.step label {
  display: block;
}

.stepy-titles li {
  color: #757575;
  cursor: pointer;
  float: left;
  margin: 10px 15px;
}

.stepy-titles li span {
  display: block;
}

.stepy-titles li.current-step div {
  color: $brand-white;
  cursor: auto;
  background: $brand-danger;
  border-radius: 50px;
  width: auto;
  height: 50px;
  line-height: 50px;
}

.stepy-titles li div {
  font-size: 16px;
  font-weight: 300;
  background: #7a88a7;
  color: $brand-white;
  border-radius: 50px;
  width: auto;
  padding: 0px 40px;
  height: 50px;
  line-height: 50px;
}

.wizard > .content {
  background: $brand-white;
  margin: 0.5em;
  min-height: 25em;
  border: 1px solid $border-color;
}

.wizard > .steps .disabled a, .wizard > .steps .disabled a:hover, .wizard > .steps .disabled a:active {
  background: #7a88a7;
  color: $brand-white;
}

.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active {
  background: $brand-primary;
  color: $brand-white;
}

.wizard > .content > .body input {
  border: 1px solid $border-color;
  &:focus {
    border: 1px solid $brand-primary;
  }
}

.wizard > .content > .body label.error {
  color: $brand-danger;
  margin-left: 0;
}

.wizard > .content > .body input.error {
  background: rgb(255, 217, 230);
  border: 1px solid $brand-danger;
  color: $brand-danger;
  margin-right: 10px;
}

.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active {
  background: lighten($brand-primary, 20%);
  color: $brand-white;
}

.wizard > .steps .number {
  font-size: 13px;
  text-align: center;
  background: rgba(0, 0, 0, .08);
  width: 80px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 5px 0 0 5px;
}

.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active {
  padding: 0;
}

.wizard > .actions .disabled a, .wizard > .actions .disabled a:hover, .wizard > .actions .disabled a:active {
  background: $brand-white;
  color: #282a39;
  border: 1px solid $border-color;
}

.wizard > .content > .body ul {
  list-style: none !important;
}

@media (max-width: 767px) {
  .wizard > .steps .number {
    width: 40px;
  }

  .wizard > .steps > ul > li {
    width: 50%;
  }
}