//== Colors

$brand-white:               #ffffff;
$brand-black:               #2c2c2c;
$brand-black-alt:           #292b2c;

$brand-light:               #a6bed4;
$brand-light-alt:           #e5ebf8;
$brand-lighter:             #f2f9ff;
$brand-gray:                #53505F;

$default-color:             #45567C;
$default-dark:              #2a3461;
$default-darker:            #222a4e;
$nav-dark:                  #282a39;

$border-color:              #e5e9ec;
$table-bg-color:            #f8fafb;

$brand-default:             #eaeaea;
$brand-primary:             #f15a29;
$brand-info:                #36a2f5;
$brand-success:             #8acc1F;
$brand-warning:             #ffc107;
$brand-danger:              #e40d3b;



//== Typography

$font-family-sans-serif:    'Open Sans', sans-serif;
